<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="logo">
                    <img src="assets/img/logo-whiteblue.png" id="logoImage">
                </div>
            </div>
            <div class="col-lg-6">
                <div id="footerNav">
                    <ul id="footerUl">
                        <li><a target="_BLANK">Om tjänsten</a></li>
                        <li><a target="_BLANK">GDPR</a></li>
                        <li><a target="_BLANK">Integritetspolicy</a></li>
                        <li><a target="_BLANK">Användarvillkor</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer-->
