<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <!-- <div id="qr">
                <img src="assets/img/qr.png" class="qrImage">
                
                <p class="text-center"><strong>Scanna qr-koden med ditt mobila BankID</strong></p>
                <br>
            </div> -->
            <form class="ssnForm" [formGroup]="ssnForm" (ngSubmit)="initSign()">
                <input type="text" placeholder="YYYYMMDDXXXX" formControlName="ssn" class="form-control" [ngClass]="{'is-invalid': submitted && f['ssn'].hasError('required')}">
                <div *ngIf="submitted && f['ssn'].hasError('required')" class="invalid-feedback">
                    <div>Du måste fylla i ett personnummer.</div>
                </div>
            </form>
            <br>
            <button class="btn btn-primary" id="idButton">Påbörja identifiering</button>
            <button class="btn btn-default" id="otherButton">Annat ID >></button>
        </div>
    </div>
</div>
