/* Fonts */
@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
/* Global styles */
body {
    background: #F4F3FA;
}

* {
    font-family: Montserrat;
}

/* Shake animation */
.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    30%, 60%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    15%, 45%, 75% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 80% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 60% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}